<!DOCTYPE html>
<html lang="en"
	  ng-app="kiririn">

<%- include('_partials/head.ejs') %>

<body ng-controller="importCalculator">

<%- include('_partials/header.ejs') %>

<div class="body-content container">
	<h1>Dutch import cost calculator</h1>
	<div class="row">
		<div class="col-sm card-padding">
			<div class="card card-body"
				 ng-class="{ 'border-primary': !isCalculated }">
				<h3 class="card-title">Item values</h3>
				<div class="form-group">
					<label for="itemCost">Item cost</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">&euro;</span>
						</div>
						<input id="itemCost"
							   type="number"
							   class="form-control"
							   placeholder="Item cost"
							   ng-init="itemCost = <%= itemCost %>;"
							   ng-model="itemCost"
							   required>
					</div>
				</div>
				<div class="form-group">
					<label for="shippingCost">Shipping cost</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">&euro;</span>
						</div>
						<input id="shippingCost"
							   type="number"
							   class="form-control"
							   placeholder="Shipping cost"
							   ng-init="shippingCost = <%= shippingCost %>;"
							   ng-model="shippingCost"
							   required>
					</div>

				</div>
				<div class="form-group">
					<label for="shippingType">Shipping type</label>
					<select id="shippingType"
							class="form-control"
							ng-init="shippingType = '<%= shippingType %>';"
							ng-model="shippingType"
							required>
						<option value="1">Economy</option>
						<option value="2">Express</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm card-padding">
			<div class="card card-body"
				 ng-class="isCalculated ? 'border-' + cardBorderClass() : ''">
				<h3 class="card-title">Import cost</h3>
				<p class="card-text">Fees: {{getImportCost()}}</p>
				<p class="card-text">Total: {{getTotalCost()}}</p>
			</div>
		</div>
	</div>
</div>

<%- include('_partials/footer.ejs') %>

<% locals.scripts = ['/scripts/importCalculator.js']; %>
<%- include('_partials/scripts.ejs') %>
</body>
</html>
