<!DOCTYPE html>
<html lang="en">
<% locals.styles = ['/styles/teletext.css']; %>
<%- include('_partials/head.ejs') %>
<body>
<%- include('_partials/header.ejs') %>

<div class="body-content container">
	<h1>Teletext</h1>
	<div class="row justify-content-md-center">
		<div class="col-sm-5 col-lg-4 card-padding">
			<div class="panel panel-default">
				<div style="padding: 0px;" class="panel-body">
					<pre style="background-color: black; width: 25em; height: auto; padding: 0;"
						 id="teletextField"
						 class="teletekst__content__pre">
					</pre>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('_partials/footer.ejs') %>

<% locals.scripts = ['/scripts/teletext.js']; %>
<%- include('_partials/scripts.ejs') %>
</body>
</html>
