<div class="table-responsive">
	<table class="table table-striped">
		<tr ng-if="data.barcode">
			<td>Local barcode</td>
			<td>{{::data.barcode}}</td>
		</tr>
		<tr ng-if="data.reference">
			<td>Original barcode</td>
			<td>{{::data.reference}}</td>
		</tr>
		<tr ng-if="data.deliveryExpectation">
			<td>Delivery</td>
			<td>
				<dl ng-if="data.deliveryExpectation.deliveryDateFrom">
					<dt>From</dt>
					<dd>{{::humanize(data.deliveryExpectation.deliveryDateFrom, 'DateString')}}</dd>
				</dl>
				<dl ng-if="data.deliveryExpectation.deliveryDateUntil">
					<dt>Until</dt>
					<dd>{{::humanize(data.deliveryExpectation.deliveryDateUntil, 'DateString')}}</dd>
				</dl>
			</td>
		</tr>
		<tr ng-if="data.networkPartner || data.networkPartnerUrl || data.networkPartnerBarcode">
			<td>Network partner</td>
			<td>
				<dl ng-if="data.networkPartner">
					<dt>Something</dt>
					<dd>{{::data.networkPartner}}</dd>
				</dl>
				<dl ng-if="data.networkPartnerName">
					<dt>Name</dt>
					<dd><a ng-href="{{::data.networkPartnerUrl}}">{{::data.networkPartnerName}}</a></dd>
				</dl>
				<dl ng-if="data.networkPartnerBarcode">
					<dt>Barcode</dt>
					<dd>{{::data.networkPartnerBarcode}}</dd>
				</dl>
			</td>
		</tr>
		<tr ng-if="data.sentDate">
			<td>Send date</td>
			<td>{{::humanize(data.sentDate, 'DateString')}}</td>
		</tr>
		<tr ng-if="data.deliveredDate">
			<td>Delivered date</td>
			<td>{{::humanize(data.deliveredDate, 'DateString')}}</td>
		</tr>
		<tr ng-if="data.signatureAvailable">
			<td>Signature available</td>
			<td>{{::humanize(data.signatureAvailable)}} &mdash; See website</td>
		</tr>
		<tr ng-if="Array.isArray(data.amounts) && data.amounts.length > 0"
			ng-repeat="amount in data.amounts track by $index">
			<td>{{::humanize(amount.amountType)}}</td>
			<td>
				{{::amount.currency || '&euro;'}}
				{{::amount.amount}}
			</td>
		</tr>
		<tr ng-if="data.addresses && data.addresses.length > 0"
			ng-repeat="address in data.addresses track by $index">
			<td>Address {{::(data.addresses.length > 1 ? $index : '')}}</td>
			<td>
				<dl ng-if="address.addressType">
					<dt>Type</dt>
					<dd>{{::address.addressType}}</dd>
				</dl>
				<dl ng-if="address.companyName">
					<dt>Company name</dt>
					<dd>{{::address.companyName}}</dd>
				</dl>
				<dl ng-if="address.firstName">
					<dt>First name</dt>
					<dd>{{::address.firstName}}</dd>
				</dl>
				<dl ng-if="address.lastName">
					<dt>Last name</dt>
					<dd>{{::address.lastName}}</dd>
				</dl>
				<dl ng-if="address.building">
					<dt>Building</dt>
					<dd>{{::address.building}}</dd>
				</dl>
				<dl ng-if="address.street">
					<dt>Street name</dt>
					<dd>{{::address.street}}</dd>
				</dl>
				<dl ng-if="address.houseNumber || address.houseNumberAddition">
					<dt>House number</dt>
					<dd>
						<span ng-if="address.houseNumber">{{::address.houseNumber}}</span>
						<span ng-if="address.houseNumberAddition">{{::address.houseNumberAddition}}</span>
					</dd>
				</dl>
				<dl ng-if="address.city">
					<dt>City</dt>
					<dd>{{::address.city}}</dd>
				</dl>
				<dl ng-if="address.state">
					<dt>State</dt>
					<dd>{{::address.state}}</dd>
				</dl>
				<dl ng-if="address.postalCode">
					<dt>Postal code</dt>
					<dd>{{::address.postalCode}}</dd>
				</dl>
				<dl ng-if="address.country">
					<dt>Country</dt>
					<dd>{{::address.country}}</dd>
				</dl>
				<dl ng-if="address.district">
					<dt>District</dt>
					<dd>{{::address.district}}</dd>
				</dl>
				<dl ng-if="address.departmentName">
					<dt>Department</dt>
					<dd>{{::address.departmentName}}</dd>
				</dl>
				<dl ng-if="address.doorCode">
					<dt>Door code</dt>
					<dd>{{::address.doorCode}}</dd>
				</dl>
				<dl ng-if="address.floor">
					<dt>Floor</dt>
					<dd>{{::address.floor}}</dd>
				</dl>
			</td>
		</tr>
		<tr ng-if="data.trackingEvents && data.trackingEvents.length > 0">
			<td>Tracking</td>
			<td>
				<dl ng-repeat="trackingEvent in data.trackingEvents track by $index"
					ng-if="trackingEvent && (trackingEvent.location || trackingEvent.dateTime || trackingEvent.description)">
					<dt>
						{{::trackingEvent.location || 'Unknown location'}},
						{{::humanize(trackingEvent.dateTime, 'DateString') || 'unknown time'}}
					</dt>
					<dd>{{::trackingEvent.description}}</dd>
				</dl>
			</td>
		</tr>
		<tr ng-if="data.measurements">
			<td>Measurements</td>
			<td>
				<dl ng-if="data.measurements.height">
					<dt>Height</dt>
					<dd>{{::data.measurements.height}}mm</dd>
				</dl>
				<dl ng-if="data.measurements.width">
					<dt>Width</dt>
					<dd>{{::data.measurements.width}}mm</dd>
				</dl>
				<dl ng-if="data.measurements.length">
					<dt>Length</dt>
					<dd>{{::data.measurements.length}}mm</dd>
				</dl>
				<dl ng-if="data.measurements.volume">
					<dt>Volume</dt>
					<dd>{{::data.measurements.volume}}ml</dd>
				</dl>
				<dl ng-if="data.measurements.weight">
					<dt>Weight</dt>
					<dd>{{::data.measurements.weight}}g</dd>
				</dl>
			</td>
		</tr>
		<tr ng-if="data.coupledShipments && data.coupledShipments.length > 0">
			<td>Coupled shipments</td>
			<td>
				<pre>{{::data.coupledShipments}}</pre>
			</td>
		</tr>
	</table>
</div>