<% function setActiveRoute(routeValue) {
 	return route[route.length - 1].location === routeValue ? 'active' : '';
 } %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-toggleable-md">
	<div class="container">
		<button class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbar"
				aria-controls="navbar"
				aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand navbar-brand-img"
		   href="/">
			<img class="img-brand"
				 src="/images/kiririn.svg"
				 alt="Kiririn"/>
		</a>
		<div id="navbar"
			 class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto pull-left">
				<li class="nav-item <%= setActiveRoute('/') %>">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item <%= setActiveRoute('/import') %>">
					<a class="nav-link" href="/import/">Import</a>
				</li>
				<li class="nav-item <%= setActiveRoute('/tracking') %>">
					<a class="nav-link" href="/tracking/">Tracking</a>
				</li>
				<li class="nav-item <%= setActiveRoute('/teletext') %>">
					<a class="nav-link" href="/teletext/">Teletext</a>
				</li>
				<li class="nav-item <%= setActiveRoute('/twitchPlaylist') %>">
					<a class="nav-link" href="/twitchPlaylist/">Twitch playlist</a>
				</li>
				<li class="nav-item <%= setActiveRoute('/kana') %>">
					<a class="nav-link" href="/kana/">Kana chart</a>
				</li>
				<!--<li class="nav-item <%= setActiveRoute('/article') %>">-->
					<!--<a class="nav-link" href="/article/">Article</a>-->
				<!--</li>-->
			</ul>
		</div>
	</div>
</nav>
