<div class="scripts">
    <script src="/dist/jquery/jquery.min.js"></script>
    <script src="/dist/moment/moment.min.js"></script>
    <script src="/dist/popper/popper.min.js"></script>
    <script src="/dist/angular/angular.min.js"></script>
    <script src="/dist/angular-animate/angular-animate.min.js"></script>
    <script src="/dist/bootstrap/js/bootstrap.min.js"></script>
    <script src="/scripts/main.js"></script>
    <% if (locals.scripts && Array.isArray(locals.scripts)) { locals.scripts.forEach((script) => { %>
        <script src="<%- script %>"></script>
    <% }); } %>
</div>
