html {
	position: relative;
	min-height: 100%;

	body {
		margin-bottom: 60px;

		div.body-content {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.navbar-brand-img {
			padding: 0;
			margin-top: -5px;
			margin-bottom: -5px;
		}

		.img-brand {
			height: 50px;
		}

		.card-padding {
			padding-bottom: 10px;
		}

		footer.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 60px;
			background-color: #f5f5f5;

			div.footer {
				height: inherit;

				p {
					height: auto;
					margin: 0;
				}
			}
		}

		&.error-page {
			background: url(/images/kiririnError.png) no-repeat right bottom;
		}

		.italic {
			font-style: italic;
		}
	}
}
