$textColor: #212529;
$textOpacity: 0.15 !important;

.list-unstyled {
	.media.disabled-link {
		img, .media-body > * {
			opacity: $textOpacity;
			a:link {
				color: $textColor;
			}
			a:visited {
				color: $textColor;
			}
		}
	}
	.media {
		.media-img {
			width: 125px;
			height: 70px;
		}

		.input-group {
			width: fit-content;
		}
	}
}
